body {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
}

body {
    background-color: gold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 150px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: maroon;
}