<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrotherPairing</title>
    <link rel="stylesheet" href="{% static 'pairing/pairing_style.css' %}">
</head>

<body>
    {% if pairings %}
    <h2>Current Pairings</h2>
    <table>
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Pledge</th>
                <th>Brother</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for pairing in pairings %}
            <tr>
                <td>{{ pairing.pledge.phone_number }}</td>
                <td>{{ pairing.pledge.first_name }} {{ pairing.pledge.last_name }}</td>
                <td>{{ pairing.brother.first_name }} {{ pairing.brother.last_name }}</td>
                <td>{{ pairing.brother.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No pairings found for the current week.</p>
    {% endif %}
</body>

</html>